@use 'sass:color';
@import 'styles/variables';

a.menuItem {
  color: color.scale($color-secondary, $lightness: 60%, $saturation: -80%);
  padding: 0.8rem 1.2rem;
  font-size: 1.05rem;
  font-weight: 400;
  letter-spacing: 0;
  display: flex;
  align-items: center;

  .menuIconWrapper {
    margin-right: 0.5rem;
  }

  &:hover {
    color: #555;
  }

  &.active {
    color: $color-secondary;

    &:hover {
      color: color.scale($color-secondary, $lightness: 15%);
    }
  }
}
