@use 'sass:color';
@import 'styles/variables';

.liveSessionBar {
  display: flex;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  letter-spacing: -0.01rem;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;

  .liveIcon {
    color: #ccc;
    margin-right: 0.5rem;
    font-size: 1rem;
    position: relative;
    top: -0.1rem;
  }

  .joinLink {
    margin-left: 0.3rem;

    &:hover {
      color: color.scale($color-primary, $lightness: 20%);
    }
  }
}
