@import 'styles/mixins';

.courseModulePageWrapper {
  margin-top: 2rem;

  .moduleName {
    color: #aaa;
  }

  h1.pageTitle {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 0;

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
  }

  .courseModulePageContent {
    color: #222;
    font-size: 1.25rem;
    line-height: 1.9;
    margin-top: 1.5rem;

    @include media-breakpoint-down(sm) {
      font-size: 1.15rem;
      line-height: 1.7;
    }

    > * {
      margin-top: 2rem;
    }

    pre {
      font-size: 1.2rem;
    }
  }
}
