@use 'sass:color';
@import 'styles/variables';
@import 'styles/mixins';

$indicator-width: 20px;
$current-circle-width: 10px;
$inactive-color: #f1f3f5;

.sidebarWrapper {
  font-size: 1.1rem;
  margin-top: 12rem;

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .sidebarTitle {
    display: block;
    color: black;
    font-size: 1rem;
    letter-spacing: -0.01rem;
    font-weight: 500;
  }

  nav.sideNav {
    margin-top: 0.4rem;
    .moduleLinkItem {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 0.95rem;
      letter-spacing: 0rem;
      line-height: 1.6;
      padding: 0.5rem 0;
      position: relative;

      .verticalLine {
        width: 2px;
        height: 100%;
        background-color: $inactive-color;
        position: absolute;
        top: 0;
        left: ($indicator-width / 2) - 1;
        z-index: 1;
      }

      &.isComplete {
        color: color.scale(black, $lightness: 50%);

        .verticalLine {
          background-color: color.scale(black, $lightness: 95%);
        }
      }

      &.isInProgress {
        color: black;
        font-weight: 500;

        .verticalLine {
          background-color: black;
          background-color: transparent;
        }
      }

      &.isIncomplete {
        color: #ccc;
      }

      .indicator {
        width: $indicator-width;
        margin-right: 1rem;
        position: relative;
        z-index: 2;
        font-size: 0.85rem;

        .iconWrapper {
          display: flex;
          width: $indicator-width;
          height: $indicator-width;
          border-radius: 60px;
          justify-content: center;
          align-items: center;

          .icon {
            color: white;
          }

          &.isComplete {
            background-color: color.scale(black, $lightness: 92%);

            .icon {
              color: color.scale(black, $lightness: 40%);
            }
          }

          &.inProgress {
            background-color: black;
          }
        }

        .incompleteCircle {
          width: $current-circle-width;
          height: $current-circle-width;
          border-radius: $current-circle-width;
          margin: ($indicator-width - $current-circle-width) / 2;
          background-color: color.mix($inactive-color, white, 40%);
          border: 2px solid $inactive-color;
        }
      }

      .label {
        position: relative;
        z-index: 2;
      }
    }
  }
}
