@import 'styles/variables';

.navigationWrapper {
  display: flex;

  nav.navigation {
    .pageLinkItemWrapper {
      display: inline-block;
      margin-right: 0.4rem;
    }

    .pageLinkItem {
      width: 2.2rem;
      height: 2.2rem;
      font-size: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #ccc;
      background-color: transparent;
      border: 1px solid #eee;
      border-radius: 10rem;
      cursor: pointer;

      &:hover {
        color: #777;
        background-color: #f9f9f9;
        border: 1px solid #bbb;
      }

      &.active {
        color: white;
        background-color: black;
        border: none;

        &:hover {
          background-color: #333;
          border: none;
        }
      }
    }
  }
}
