@use 'sass:color';
@import 'src/styles/variables';

.calendar {
  padding: 2rem 0;
  font-size: 0.8rem;
  letter-spacing: -0.01rem;
  line-height: 1.6;
  width: 90%;

  .day {
    margin: 0.8rem 0;

    &.empty {
      opacity: 0.6;
    }
  }

  .dayHeader {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 0.4rem;
  }

  .date {
    color: #333;
    font-weight: 600;
  }

  .weekday {
    color: $color-primary;
  }

  .dayContent {
    margin-top: 0.5rem;

    .box {
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem;
      margin-top: 0.3rem;
    }

    .quiz {
      color: white;
      background-color: $color-primary;
      text-align: center;
      font-weight: 600;
    }

    .lecture {
      background-color: white;

      .lectureHeading {
        font-weight: 600;
      }

      .lectureTopic {
        color: #777;
      }
    }

    .afterClassAssignment {
      color: white;
      background-color: color.scale(
        $color-secondary,
        $lightness: 20%,
        $saturation: 20%
      );
    }

    .noLecture {
      color: #000;
      background-color: #ccc;
    }

    .problemSet {
      color: white;
      background: color.scale($color-primary, $lightness: -20%);
    }
  }
}
