@use 'sass:color';
@import 'src/styles/variables';

.joinPage {
  label {
    display: block;
    color: #6c4613;
  }

  input {
    font-size: 1.9rem;
    font-weight: 300;
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    padding: 2rem;
    border: none;
    box-shadow: 0 0 1rem rgba(175, 175, 32, 0.08);
    margin-top: 1rem;
    outline: none;

    &:focus {
      box-shadow: 0 0 1.5rem rgba(175, 175, 32, 0.24);
    }
  }

  input[type='submit'] {
    color: white;
    background-color: #6c4613;
    font-weight: 300;
    cursor: pointer;
  }
}
