@use 'sass:color';
@import 'bulma/sass/base/minireset';
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/layout/section';
@import 'bulma/sass/grid/columns';
@import 'bulma/sass/helpers/visibility';
@import './variables';
@import './container';
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: $font-sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: $font-sans-serif;
  }
}

body {
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: -0.03rem;
}

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: $font-monospace;
  padding: 0.1em 0.3em;
  color: color.mix($color-secondary, black, 90%);
  background-color: color.mix($color-secondary, white, 6%);
  border: 1px solid color.mix($color-secondary, white, 20%);
  border-radius: 5px;
  font-size: 0.8em;
}

input {
  font-family: $font-sans-serif;
}

ul {
  list-style-type: circle;
}
