@use 'sass:color';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.courseIndexWrapper {
  color: white;

  h1.pageTitle {
    font-weight: 300;
  }

  .courseItem {
    padding: 1rem 0;
    margin-top: 2rem;
    position: relative;

    a.courseLink {
      display: block;

      .unitNumber {
        display: block;
        color: $color-primary;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1;
        position: relative;
        left: -2rem;
        top: 0.5rem;

        @include media-touch {
          position: relative;
          left: 0;
          top: 0;
        }
      }

      .courseTitle {
        color: $color-primary;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      .courseDescription {
        color: #fff;
      }

      &:hover {
        .unitNumber,
        .courseTitle {
          color: color.scale($color-primary, $lightness: -10%);
        }

        .courseDescription {
          color: #ddd;
        }
      }
    }

    .courseModules {
      font-size: 1.1rem;
      margin-top: 1rem;

      a.moduleLink {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        color: #888;
        padding: 0.2rem 0;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
