$color-primary: #e84a27;
$color-secondary: #13294b;
$color-tertiary: #0d605e;

$color-correct: #12d16b;
$color-incorrect: #ff44bb;
$color-warning: #12d16b;

$font-sans-serif: 'Inter var', sans-serif;
$font-monospace: Consolas, Menlo, 'Roboto Mono', monospace;
