@use 'sass:color';
@import 'bulma/sass/base/minireset';
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/layout/section';
@import 'bulma/sass/grid/columns';
@import 'bulma/sass/helpers/visibility';
@import './variables';
@import './container';
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: $font-sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: $font-sans-serif;
  }
}

body {
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: -0.03rem;
}

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: $font-monospace;
  padding: 0.1em 0.3em;
  color: color.mix($color-secondary, black, 90%);
  background-color: color.mix($color-secondary, white, 6%);
  border: 1px solid color.mix($color-secondary, white, 20%);
  border-radius: 5px;
  font-size: 0.8em;
}

blockquote {
  padding-left: 1.2rem;
  border-left: 6px solid #eee;

  p {
    font-size: 1.4rem;
  }
}

pre {
  code {
    background: none;
    padding: 0;
    border: none;
    font-size: inherit;
    border-radius: 0;
  }

  code.hljs {
    padding: 0.7em 1.2em;
  }
}

input {
  font-family: $font-sans-serif;
}

ol,
ul,
dl {
  list-style-position: inside;
}

ul {
  list-style-type: disc;
}

li > ul,
li > ol,
li > dl {
  padding-left: 2rem;
}

li > ul {
  list-style-type: circle;
}

.color-primary {
  color: $color-primary;
}

table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1rem;
  letter-spacing: 0rem;
  table-layout: fixed;

  thead {
    border-bottom: 1px solid #111;
    vertical-align: bottom;

    th {
      border-top: 2px solid #111;
    }
  }

  th {
    font-weight: 600;
  }

  tr,
  th,
  td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5rem 0.7rem;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
  }

  tbody {
    tr:nth-child(odd) {
      background: #f5f5f5;
    }

    tr:hover {
      background: rgba(66, 165, 245, 0.2);
    }
  }
}

.tippy {
  font-weight: 400;
  letter-spacing: 0;

  .tippy-content {
    font-size: 0.95rem;
    line-height: 1.6;
  }
}
